go 1.24.4

use (
	./extensions/gpustack-ai-proxy
	./extensions/gpustack-lb
	./extensions/gpustack-lb-least-load
	./extensions/gpustack-lb-session-affinity
	./extensions/gpustack-ext-auth
	./extensions/gpustack-generic-proxy-router
	./extensions/gpustack-model-mapper
	./extensions/gpustack-rate-limit
	./extensions/gpustack-set-header-pre-route
	./extensions/gpustack-token-usage
)
